{% extends 'base.html' %}

{% block css %}

    <style>
    body .mb-80{
        margin-top: 100px;
    }

    </style>
{% endblock %}

{% block body %}


    <div class="protfolio-item mb-80">
        <div class="container-fluid">
            <div class="row protfolio-active" style="position: relative; height: 1154.56px;">
                <!--Single Protfolio Start-->
                <div class="col-md-6 col-lg-4 col-xl-3 grid-item company"
                     style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="/static/img/link/portfolio1.jpg" alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="https://www.nowcoder.com/" title="跳转链接">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox vbox-item" data-gall="myGallery"
                                       href="/static/img/link/portfolio1.jpg" title="显示大图">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">牛客网</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->
                <div class="col-md-6 col-lg-4 col-xl-3 grid-item company"
                     style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="/static/img/link/portfolio2.jpg" alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="http://cuijiahua.com/collections.html" title="跳转链接">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox vbox-item" data-gall="myGallery"
                                       href="/static/img/link/portfolio2.jpg" title="显示大图">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">Jack &nbsp; Cui</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->
                <div class="col-md-6 col-lg-4 col-xl-3 grid-item company"
                     style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="/static/img/link/portfolio5.jpg" alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="http://blog.ihuxu.com/" title="跳转链接">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox vbox-item" data-gall="myGallery"
                                       href="/static/img/link/portfolio5.jpg" title="显示大图">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">胡小旭</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->
                <div class="col-md-6 col-lg-4 col-xl-3 grid-item company"
                     style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="/static/img/link/portfolio15.jpg" alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="http://www.sctow.cn/" title="跳转链接">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox vbox-item" data-gall="myGallery"
                                       href="/static/img/link/portfolio15.jpg" title="显示大图">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">无名小博客(其实是大佬)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Protfolio End-->
                <!--Single Protfolio Start-->
                <div class="col-md-6 col-lg-4 col-xl-3 grid-item company"
                     style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-protfolio">
                        <div class="protfolio-img img-full">
                            <img src="/static/img/link/portfolio16.jpg" alt="">
                            <div class="content">
                                <div class="portfolio-icon">
                                    <a href="https://hellogithub.com/" title="跳转链接">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="venobox vbox-item" data-gall="myGallery"
                                       href="/static/img/link/portfolio16.jpg" title="显示大图">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="title">Hello Github</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Protfolio End-->

            </div>
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="load-more-btn-area text-center pt-30">#}
{#                        <a href="#" class="load-more-btn">Load More (7)</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}